.footer {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(142, 157, 161, 0.8);
    font-family: 'Roboto', sans-serif;
}