.guidepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
    h1{
        margin-bottom: 2rem;
    }
    h2{
        margin-top: 2rem;
        margin-bottom: .5rem;
    }
    .AorB{
        text-align: left;
        width: 515px !important;
    }
    .MuiPaper-elevation{
        min-width: 200px;
        margin-top: 1rem;
        text-align: left;
        white-space: nowrap;
        background-color: rgb(229, 246, 253);
    }
    button{
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
        color: #fff;
        background-color: #e6bb6f;
        border-color: #e6bb6f;

        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        &:hover{
            color: #fff;
            background-color: #e6bb6f;
            border-color: #e6bb6f;
            box-shadow: 0 0 5px #e6bb6f;
        }
        box-shadow: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        margin-top: 2rem;
    }
    @media (max-width: 767px) {
        padding: 3rem 10px;
        .AorB{
            width: 100% !important;
        }
    }
}


.preview-btn{
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    color: #fff;
    background-color: #1465dd;
    border-color: #1465dd;

    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    &:hover{
        color: #fff;
        background-color: #1465dd;
        border-color: #1465dd;
        box-shadow: 0 0 5px #1465dd;
    }
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    margin-top: 2rem;
}