.homepage{
    height: 100vh;
    display: flex;
    color: #e6bb6f;
    background-image: linear-gradient(90deg, #000000 50%, #2c2c2c 100%);
    .poster{
        width: 50%;
        height: 100vh;
        object-fit: contain;
    }
    .info{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            margin-bottom: 2rem;
        }
        p{
            text-align: center;
            margin-bottom: 2rem;
        }
        button{
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        
            color: #e6bb6f;
            border-color: #e6bb6f;

            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            &:hover{
                color: #fff;
                background-color: #e6bb6f;
                border-color: #e6bb6f;
            }
        }
    }
    @media (max-width: 767px) {
        background-image: none;
        background-color: #000000;
        .poster{
            width: 100%;
        }
        .info{
            width: 70%;
            height: 50%;
            display: block;
            background-color: rgba($color: #000000, $alpha: .75);
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    }
}
.footer{
    padding: 16px 0;
    background-image: linear-gradient(90deg, #000000 50%, #2c2c2c 100%);
    @media (max-width: 767px) {
        background-image: none;
        background-color: #000000;
    }
}