* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}


@import "./nav";
@import "./footer";
@import "./homepage";
@import "./booking";
@import "./about";
