* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: circle;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
